body {
    font-family: 'Arial', sans-serif;
    background-color: #f2e1d6; /* Soft nude */
    color: #5c4f50; /* Dark brown */
  }
  
  h1, h2, h3 {
    color: #d29a8d; /* Warm pink */
  }
  
  .navbar {
    background-color: #4a0624 !important; /* Light brown */
  }
  
  .navbar-brand, .nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #310316;
  }

  